christmasxp-yolohero-intro {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0822f3;
  transition-duration: .4s;
  transition-property: opacity, visibility;
}

christmasxp-yolohero-intro .logo {
  width: 80%;
  height: 50%;
  margin: 5%;
  background-image: url(./logo/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

christmasxp-yolohero-intro.hide {
  opacity: 0;
  visibility: hidden;
}

.warning {
  color: #ffa575;
}
