@import "../webgl/index.css";
@import "../player/index.css";

christmasxp-yolohero-main {
  display: block;
  position: relative;
}

christmasxp-yolohero-main christmasxp-yolohero-webgl {
  width: 100%;
  height: 100%;
}