@import "../webgl/index.css";
@import "../player/index.css";
@import "../intro/index.css";
@import "../outro/index.css";

@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

christmasxp-yolohero-main {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
}

christmasxp-yolohero-main *:focus {
  outline:none;
}

christmasxp-yolohero-main h2,
christmasxp-yolohero-main button {
  font-family: "calgary_script";
}

christmasxp-yolohero-main button {
  font-size: 50px;
  padding: .1em .5em;
  /* color: #0822f3; */
  color: white;
  background: #FF1AE9;
  border: none;
  cursor: pointer;
  box-shadow: -5px -5px 0px #0822f3;
}

christmasxp-yolohero-main button:disabled {
  background: #ccc;
  box-shadow: -5px -5px 0px #444;
  box-shadow: 1;
}

christmasxp-yolohero-main h2 {
  font-size: 50px;
}

christmasxp-yolohero-main p,
christmasxp-yolohero-main button {
  margin: .5em 0;
}

christmasxp-yolohero-main b {
  font-weight: bolder;
}

christmasxp-yolohero-main christmasxp-yolohero-webgl {
  width: 100%;
  height: 100%;
}

christmasxp-yolohero-main christmasxp-yolohero-player {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 160px;
  transform: translateX(-95%);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 1s;
  visibility: hidden;
}

christmasxp-yolohero-main christmasxp-yolohero-player:hover {
  opacity: 1;
  transform: translateX(0);
}

christmasxp-yolohero-main christmasxp-yolohero-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

christmasxp-yolohero-main christmasxp-yolohero-intro,
christmasxp-yolohero-main christmasxp-yolohero-outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}